body
{
  background-color: white;
}

input::-webkit-input-placeholder {
  width: 250px;
  height: 15px;
  font-stretch: normal;
  font-family: Roboto;
  text-align: left;
  font-style: italic;
  color: #aab2bd;
  font-size: 13.3px;
  font-weight: normal; 
}
input::-moz-placeholder {
  width: 250px;
  height: 15px;
  font-stretch: normal;
  font-family: Roboto;
  text-align: left;
  font-style: italic;
  color: #aab2bd;
  font-size: 13.3px;
  font-weight: normal; 
}
input:-moz-placeholder {   /* Older versions of Firefox */
  width: 250px;
  height: 15px;
  font-stretch: normal;
  font-family: Roboto;
  text-align: left;
  font-style: italic;
  color: #aab2bd;
  font-size: 13.3px;
  font-weight: normal; 
}
input:-ms-input-placeholder { 
  width: 250px;
  height: 15px;
  font-stretch: normal;
  font-family: Roboto;
  text-align: left;
  font-style: italic;
  color: #aab2bd;
  font-size: 13.3px;
  font-weight: normal; 
}
