.loginrectangle 
{
    width: 516px;
    height: 370px;
    border-radius: 5px;
    background-color: #f5f7fa;
    box-shadow: 0 3px 8px 0 rgba(60, 59, 60, 0.24), 0 3px 6px 0 rgba(60, 59, 60, 0.19);
    border: solid 1px #e6e9ed;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -185px;
    margin-left: -258px;
}

.inputlabel {
  width: 276px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  margin-top: 17.7px;
  margin-left: 120.3px;
}

.logintextbox {
  width: 275.2px;
  height: 42px;
  margin-top: 6.3px;
  margin-left: 120.3px;
  margin-right: 120.5px;
  background-color : #ffffff !important;
}

input[type="text"] {
  background-color : #ffffff !important;
}

input[type="password"] {
  background-color : #ffffff !important;
}


.login .btn-primary {
  cursor:pointer;
  margin-left: 270px;
  margin-bottom: 36px;
  margin-top: 29.7px;
}
.login .btn-primary p {
  padding-top: 9px;
}

.login .btn-primary:hover
{
    background-color: #335f99;
}


.nav-brand {
  width:30px;
  height:30px;
  margin-top:16px;
  margin-left:32px;
}

nav{
  position:fixed;
  height:59px;
}



.float-left{
  float:left;
}

.float-right{
  float:right;
}

.navbar-search{
  margin-top:12px;
  margin-left:24px;
  font-family: Roboto;
  font-size: 13.3px;
  font-style: italic;
  color: #aab2bd;
  padding-left:12px;
}

.navbar-right-icons{
  margin-left:868px;
  padding:19px;
}

.loginlogo
{
  width: 72px;
  height: 72px;
  margin-top: 24px;
  margin-left: 222px;
}

.logintextbox {
  background:none !important;
  padding-left:13px;
}

.inputlabel {
  color: #a6a8ab;
}

/*Landing page styles*/

.landing-top-bar {
  height:48px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #656d78;
  text-align:left;
}

.landing-top-icon {
  padding-top:9px;
  float:left;
}

.landing-jumbotron {
  overflow:hidden;
  padding-left:0%;
  min-width:100%;
  min-height:45%;
  background-color: #335f99;
  padding-top:6%;
  background-image: url("/branding/group.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.jumbotron-hero-text h1{
  font-family: Roboto;
  font-size: 45px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  color: #ffffff;
}

.jumbotron-hero-text h4{
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.24)
}

.jumbotron-hero-text{
  float:left;
  padding-left:7%;
  padding-bottom:10%;
}

.jumbotron-hero .text h1{
  margin-top:0px;
}


.landing-top-text {
  padding-bottom:10px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #434a54;
}

.jumbo-form {
  float:left;
  padding-left:7%;
  padding-bottom:10%;
  padding-top:3%;
}

.jumbo-form input{
  display:block;
  margin-bottom:17px;
  font-size: 13.3px;
  width: 386px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ccd1d9;
  color:#aab2bd;
  padding-left:18px;
}

.jumbo-form-btn{
  border:none;
  text-decoration:none;
}

.jumbo-form-btn button:hover{
  cursor:pointer;
}

.jumbo-form-btn button{
  width: 386px;
  height: 48px;
  padding:0px;
  border:none;
  border-radius: 5px;
  border-color:black;
  background-color: #37bc9b;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  color:#ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 900;
}

.landing-module{
  margin:0 auto;
  width:75vw;
}

.landing-module .hero-text{
  text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d4d4d4;
    margin: 1em auto;
    padding: 0;
    width:75vw;
    margin-bottom:60px;
}

.landing-module .hero-text h1{
  padding-top:20px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: center;
  color: #434a54;
}

.landing-module .hero-sub-text{
  text-align:center;
  margin:0 auto;
  width:56%;
}

.landing-module .hero-sub-text p{
  padding-bottom:44px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  text-align: center;
  color: #434a54;
}



.landing-module .aside-container{
  overflow:hidden;
  margin-bottom:60px;
}

.landing-module .left-aside-text{
  float:left;
  margin-top:7%;
}

.landing-module .left-aside-text h2{
  font-family: Roboto;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  color: #434a54;
}


.landing-module .left-aside-text p{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #434a54;
}

.landing-module .left-aside-img {
  float:right;
}


.landing-module .right-aside-img{
  float:left;
}

.landing-module .right-aside-text{
  float:right;
  margin-top:7%;
}

.landing-module .right-aside-text h2{
  font-family: Roboto;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  color: #434a54;
}


.landing-module .right-aside-text p{
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #434a54;
}


.landing-page-footer{
  width:100%;
  margin:0 auto;
  text-align:center;
  background-color: #434a54;
}


.landing-footer-form {
  margin:0 auto;
  padding-top:10%;
  padding-bottom:10%;
}

.landing-footer-form input{
  display:block;
  margin:0 auto;
  margin-bottom:17px;
  font-size: 13.3px;
  width: 386px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #ccd1d9;
  color:#aab2bd;
  padding-left:18px; 
}


@media (max-width:1000px){
  .landing-module .right-aside-text{
    margin-top:0% !important;
  } 
  .landing-module .left-aside-text{
    margin-top:0% !important;
  } 
}

