---
swagger: "2.0"
info:
  description: "Definition of ArmRay backend data-modification API"
  version: "0.0.1"
  title: "ArmRay API"
host: "ec2-52-36-38-196.us-west-2.compute.amazonaws.com:1152"
basePath: "/armray/api/0.1/rest/modify"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /Grant:
    post:
      tags:
      - "Grant"
      description: "Creates `Grant` objects. All fields required.\n"
      operationId: "createGrant"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "grant_url"
        in: "formData"
        description: "array of URLs for `Grant`"
        required: true
        type: "string"
      - name: "grant_description"
        in: "formData"
        description: "Description of grant"
        required: true
        type: "string"
      - name: "amount"
        in: "formData"
        description: "Amount of grant"
        required: true
        type: "number"
      responses:
        200:
          description: "the id of the created `Grant`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}:
    put:
      tags:
      - "Grant"
      description: "Updates `Grant` objects. **id** is required,\nall others optional.\n"
      operationId: "updateGrantById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "grant_url"
        in: "formData"
        description: "array of URLs for `Grant`"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "grant_description"
        in: "formData"
        description: "Description of `Grant`"
        required: false
        type: "string"
      - name: "amount"
        in: "formData"
        description: "Amount of `Grant`"
        required: false
        type: "number"
        format: "float"
      responses:
        200:
          description: "A `Grant` object"
          schema:
            $ref: "#/definitions/Grant"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Deletes `Grant` objects by **id**.\n"
      operationId: "deleteGrantById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/amount:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` amount\n"
      operationId: "setGrantAmount"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "amount"
        in: "formData"
        description: "the `Grant` amount"
        required: true
        type: "number"
        format: "float"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Modify `Grant` amount\n"
      operationId: "modifyGrantAmount"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "amount"
        in: "formData"
        description: "the `Grant` amount"
        required: true
        type: "number"
        format: "float"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Clear `Grant` amount\n"
      operationId: "clearGrantAmount"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/amount/{amount}:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` amount\n"
      operationId: "setGrantAmountPath"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "amount"
        in: "path"
        description: "the `Grant` amount"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Modify `Grant` amount\n"
      operationId: "modifyGrantAmountPath"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "amount"
        in: "path"
        description: "the `Grant` amount"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/created: {}
  /Grant/{id}/description:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` description\n"
      operationId: "setGrantDescription"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "description"
        in: "formData"
        description: "the `Grant` description"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` url array"
          schema:
            type: "array"
            items:
              type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Modify `Grant` description\n"
      operationId: "modifyGrantDescription"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "description"
        in: "formData"
        description: "the `Grant` description"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` url array"
          schema:
            type: "array"
            items:
              type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Clear `Grant` description\n"
      operationId: "clearGrantDescription"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/keys:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` keywords\n"
      operationId: "setGrantKeywords"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "keywords"
        in: "formData"
        description: "the `Grant` keywords"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Modify `Grant` keywords\n"
      operationId: "addGrantKeywords"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "keywords"
        in: "formData"
        description: "the `Grant` keywords"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Clear `Grant` keywords\n"
      operationId: "clearGrantKeywords"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/keys/{keyword}:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` keyword\n"
      operationId: "setGrantKeywordPath"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "the `Grant` keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Add `Grant` keyword\n"
      operationId: "addGrantKeyword"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "the `Grant` keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Set `Grant` keyword\n"
      operationId: "deleteGrantKeyword"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "the `Grant` keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/modified: {}
  /Grant/{id}/type:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` amount\n"
      operationId: "setGrantType"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "type"
        in: "formData"
        description: "the `Grant` type"
        required: true
        type: "number"
        format: "float"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Modify `Grant` amount\n"
      operationId: "modifyGrantType"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "type"
        in: "formData"
        description: "the `Grant` type"
        required: true
        type: "number"
        format: "float"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Clear `Grant` type\n"
      operationId: "clearGrantType"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/type/{type}:
    post:
      tags:
      - "Grant"
      description: "Set `Grant` type\n"
      operationId: "setGrantTypePath"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "type"
        in: "path"
        description: "the `Grant` type"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Modify `Grant` amount\n"
      operationId: "modifyGrantTypePath"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "type"
        in: "path"
        description: "the `Grant` type"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Grant/{id}/url:
    post:
      tags:
      - "Grant"
      description: "Replace `Grant` url array\n"
      operationId: "setGrantUrls"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "urls"
        in: "formData"
        description: "The `Grant` urls"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    put:
      tags:
      - "Grant"
      description: "Add `Grant` url\n"
      operationId: "addGrantUrl"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      - name: "url"
        in: "formData"
        description: "The `Grant` url"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
    delete:
      tags:
      - "Grant"
      description: "Clear `Grant` url array\n"
      operationId: "clearGrantUrls"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Grant` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Grant` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Grant"
  /Post:
    post:
      tags:
      - "Post"
      description: "Creates `Post` objects.  **post_tags_id** and **post_keywords**\
        \ optional, all others required.\n"
      operationId: "createPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "post_title"
        in: "formData"
        description: "ID of `User` author of post"
        required: true
        type: "string"
      - name: "post_text"
        in: "formData"
        description: "ID of `User` author of `Post`"
        required: true
        type: "string"
      - name: "post_creator_id"
        in: "formData"
        description: "ID of `User` author of post"
        required: true
        type: "string"
      - name: "post_tags_id"
        in: "formData"
        description: "array of `User`s tagged in `Post`"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "post_keywords"
        in: "formData"
        description: "array of keywords for `Post`"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "is_post_private"
        in: "formData"
        description: "is `Post` private?"
        required: true
        type: "boolean"
      responses:
        200:
          description: "the id of the created `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}:
    put:
      tags:
      - "Post"
      description: "Updates `Post` objects. **id** is required,\nall others optional.\n"
      operationId: "updatePosttById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "post_title"
        in: "formData"
        description: "The `Post` name"
        required: false
        type: "string"
      - name: "post_text"
        in: "formData"
        description: "The `Post` body"
        required: false
        type: "string"
      - name: "post_creator_id"
        in: "formData"
        description: "ID of `User` author of post"
        required: false
        type: "string"
      - name: "post_tags_id"
        in: "formData"
        description: "array of `User`s tagged in `Post`"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "post_keywords"
        in: "formData"
        description: "array of keywords for `Post`"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "is_post_private"
        in: "formData"
        description: "Is `Post`private?"
        required: false
        type: "boolean"
      responses:
        200:
          description: "A `Post` object"
          schema:
            $ref: "#/definitions/Post"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes `Post` objects by **id**.\n"
      operationId: "deletePostById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/author:
    post:
      tags:
      - "Post"
      description: "Sets the `Post`author.  **id** and **author** both required.\n"
      operationId: "updatePostAuthorByIdPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      - name: "text"
        in: "formData"
        description: "new author"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      description: "Sets the `Post`author.  **id** and **author** both required.\n"
      operationId: "updatePostAuthorById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      - name: "author"
        in: "formData"
        description: "new author"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes text of a `Post` author by **id**.\n"
      operationId: "deletePostAuthorById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/keys:
    post:
      tags:
      - "Post"
      description: "Replaces keywords on `Post` objects. **id** and **keywords* both\
        \ required.\n"
      operationId: "replacePostKeywordsById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "keywords"
        in: "formData"
        description: "new tags"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      description: "Adds keywords to `Post` objects. **id** and **keywords** both\
        \ required.\n"
      operationId: "updateProjectKeywordsById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "keywords"
        in: "formData"
        description: "new keywords"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes all tags on a `Post` objects by **id**.\n"
      operationId: "deletePostKeywordsById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/keys/{keyword}:
    post:
      tags:
      - "Post"
      description: "Adds keyword to `Post` objects. **id** and **user_id* both required.\n"
      operationId: "addPostKeywordByIdPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "The `User` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      description: "Adds tags to `Post` objects. **id** and **keyword** both required.\n"
      operationId: "addPostKeywordById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post's name"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "the keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes a keyword on a `Post` objects by **id** and **keyword**\n"
      operationId: "deletePostKeywordById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "The keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/private:
    post:
      tags:
      - "Post"
      description: "Sets the `Post`privacy.  **id** and **is_private** both required.\n"
      operationId: "updatePostPrivacyByIdPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      - name: "is_private"
        in: "formData"
        description: "is `Post`private?"
        required: true
        type: "boolean"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      description: "Sets the `Post`privacy.  **id** and **is_private** both required.\n"
      operationId: "updatePostPrivacyById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      - name: "is_private"
        in: "formData"
        description: "is `Post`private?"
        required: true
        type: "boolean"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/tags:
    post:
      tags:
      - "Post"
      description: "Replaces tags on `Post` objects. **id** and **tagged_users* both\
        \ required.\n"
      operationId: "replacePostTagsById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "tagged_users"
        in: "formData"
        description: "new tags"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes all tags on a `Post` objects by **id**.\n"
      operationId: "deleteProjectTagsById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/tags/{user_id}:
    post:
      tags:
      - "Post"
      - "User"
      description: "Adds tag to `Post` objects. **id** and **user_id** both required.\n"
      operationId: "addPostTagsByIdPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `User` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      - "User"
      description: "Adds tags to `Post` objects. **id** and **user_id** both required.\n"
      operationId: "updatePostTagsById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "new tags"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      - "User"
      description: "Deletes the tags on a `Post` objects by **id** and **user_id**\n"
      operationId: "deletePostTagsById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `User` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/text:
    post:
      tags:
      - "Post"
      description: "Sets the `Post`text.  **id** and **text** both required.\n"
      operationId: "updatePostTextByIdPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      - name: "text"
        in: "formData"
        description: "new title"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      description: "Sets the `Post`title.  **id** and **text** both required.\n"
      operationId: "updatePostTextById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "text"
        in: "formData"
        description: "new text"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes text of a `Post` objects by **id**.\n"
      operationId: "deletePostTextById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Post/{id}/title:
    post:
      tags:
      - "Post"
      description: "Sets the `Post`title.  **id** and **title** both required.\n"
      operationId: "updatePostTitleByIdPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "title"
        in: "formData"
        description: "new title"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    put:
      tags:
      - "Post"
      description: "Sets the `Post`title.  **id** and **title** both required.\n"
      operationId: "updatePostTitleById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "title"
        in: "formData"
        description: "new title"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the `Post`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
    delete:
      tags:
      - "Post"
      description: "Deletes title of a `Post` objects by **id**.\n"
      operationId: "deletePosTitleById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Post` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Post"
  /Project:
    post:
      tags:
      - "Project"
      description: "Creates `Project` objects. **project_name**, **project_description**,\n\
        **project_creator_id**, and **is_project_private** are required,\nall others\
        \ optional.\n"
      operationId: "createProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "project_name"
        in: "formData"
        description: "Project's name"
        required: true
        type: "string"
      - name: "project_main_grant_type"
        in: "formData"
        description: "Project's `Grant`type"
        required: false
        type: "string"
      - name: "project_description"
        in: "formData"
        description: "Description of project"
        required: true
        type: "string"
      - name: "project_creator_id"
        in: "formData"
        description: "array of `Project`creator ids"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "project_collaborators_id"
        in: "formData"
        description: "array of `Project`collaborator ids"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "project_keywords"
        in: "formData"
        description: "array of `Project`keywords"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "project_urls"
        in: "formData"
        description: "array of `Project`URLs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "grant_ids"
        in: "formData"
        description: "The `Grant` IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "university_id"
        in: "formData"
        description: "ID of `University`hosting research"
        required: false
        type: "string"
      - name: "grant_facilitator"
        in: "formData"
        description: "Name of individual fascilitating `Grant`funding"
        required: false
        type: "string"
      - name: "project_file"
        in: "formData"
        description: "files for grant"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "reviews"
        in: "formData"
        description: "reviews"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "posts"
        in: "formData"
        description: "posts related to project"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "is_project_private"
        in: "formData"
        description: "is `Project`private?"
        required: true
        type: "boolean"
      responses:
        200:
          description: "The `id` of the created user"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}:
    put:
      tags:
      - "Project"
      description: "Updates a `Project` object. All fields other than `id` optional.\n"
      operationId: "updateProject"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Project`id"
        required: true
        type: "string"
      - name: "project_name"
        in: "formData"
        description: "Project's name"
        required: false
        type: "string"
      - name: "project_main_grant_type"
        in: "formData"
        description: "Project's `Grant`type"
        required: false
        type: "string"
      - name: "project_description"
        in: "formData"
        description: "Description of project"
        required: false
        type: "string"
      - name: "project_creator_id"
        in: "formData"
        description: "array of `Project`creator ids"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "project_collaborators_id"
        in: "formData"
        description: "array of `Project`collaborator ids"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "project_keywords"
        in: "formData"
        description: "array of `Project`keywords"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "project_urls"
        in: "formData"
        description: "array of `Project`URLs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "grant_id"
        in: "formData"
        description: "The `Grant` IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "university_id"
        in: "formData"
        description: "ID of `University`hosting research"
        required: false
        type: "string"
      - name: "grant_facilitator"
        in: "formData"
        description: "Name of individual fascilitating `Grant`funding"
        required: false
        type: "string"
      - name: "project_file"
        in: "formData"
        description: "files for grant"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "reviews"
        in: "formData"
        description: "reviews"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "posts"
        in: "formData"
        description: "posts related to project"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "is_project_private"
        in: "formData"
        description: "is `Project`private?"
        required: false
        type: "boolean"
      responses:
        200:
          description: "The `id` of the updatee `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      description: "Delete a 'Project' by their id.\n"
      operationId: "deleteProjectById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "the `id` of the `Project` to delete"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` of the deleted `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/collaborators:
    post:
      tags:
      - "Project"
      - "User"
      description: "Set creators of a `Project`.\n"
      operationId: "setAllProjectCollaborators"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "collaborators"
        in: "formData"
        description: "The `ids` of the ollaborators"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "User"
      description: "Add to collaborators of a `Project`.\n"
      operationId: "addProjectCollaborators"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "collaborators"
        in: "formData"
        description: "The `ids` of the collaborators"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "User"
      description: "Remove all 'project_collaborators' from a `Project`.\n"
      operationId: "deleteProjectCollaborators"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/collaborators/{user_id}:
    post:
      tags:
      - "Project"
      - "User"
      description: "Set collaborators of a `Project`.\n"
      operationId: "setProjectCollaborators"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `id` of the collaborator"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "User"
      description: "Add to collaborator of a `Project`.\n"
      operationId: "addProjectCollaborator"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `ids` of the collaborator"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "User"
      description: "Remove a 'project_collaborator' from a `Project`.\n"
      operationId: "deleteProjectCollaborator"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `ids` of the collaborator"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/creators:
    post:
      tags:
      - "Project"
      - "User"
      description: "Set creators of a `Project`.\n"
      operationId: "setAllProjectCreators"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "creators"
        in: "formData"
        description: "The `ids` of the creators"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "User"
      description: "Add to creators of a `Project`.\n"
      operationId: "addProjectCreators"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "creators"
        in: "formData"
        description: "The `ids` of the creators"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "User"
      description: "Remove all 'project_creators' from a `Project`.\n"
      operationId: "deleteProjectCreators"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/creators/{user_id}:
    post:
      tags:
      - "Project"
      - "User"
      description: "Set creator of a `Project`.\n"
      operationId: "setProjectCreator"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `id` of the creator"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "User"
      description: "Add to creators of a `Project`.\n"
      operationId: "addProjectCreator"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `ids` of the creators"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "User"
      description: "Remove a 'project_creator' from a `Project`.\n"
      operationId: "deleteProjectCreator"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `ids` of the creators"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/description:
    delete:
      tags:
      - "Project"
      description: "Delete project_description from a project\n"
      operationId: "deleteProjectDescription"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_description` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/description/{project_description}:
    post:
      tags:
      - "Project"
      description: "Add project_description to a `Project`.\n"
      operationId: "setProjectDescription"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "project_description"
        in: "path"
        description: "The project_description"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      description: "Modify project_description of a `Project`.\n"
      operationId: "modifyProjectDescription"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "project_description"
        in: "path"
        description: "The project_description"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/files:
    post:
      tags:
      - "Project"
      description: "Set files of a `Project`.\n"
      operationId: "setAllProjectFiles"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "files"
        in: "formData"
        description: "The `files` of the project"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      description: "Add to files of a `Project`.\n"
      operationId: "addProjectFiles"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "urls"
        in: "formData"
        description: "The `files` of the `Project``"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      description: "Remove all 'files' from a `Project`.\n"
      operationId: "deleteProjectFiles"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/grant:
    delete:
      tags:
      - "Project"
      - "Grant"
      description: "Delete `Grant`from a project\n"
      operationId: "deleteProjectGrant"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `grant` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/grant/{grant_id}:
    post:
      tags:
      - "Project"
      - "Grant"
      description: "Add `Grant`to a `Project`.\n"
      operationId: "setProjectGrant"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "grant_id"
        in: "path"
        description: "The grant_id"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "Grant"
      description: "Modify `Grant`of a `Project`.\n"
      operationId: "modifyProjectGrant"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "grant_id"
        in: "path"
        description: "The grant_id"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/keys:
    post:
      tags:
      - "Project"
      description: "Set keywords of a `Project`.\n"
      operationId: "setAllProjectKeywords"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "keywords"
        in: "formData"
        description: "The `keywords` of the `Project``"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      description: "Add to keywords of a `Project`.\n"
      operationId: "addProjectKeywords"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "keywords"
        in: "formData"
        description: "The `ids` of the collaborators"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      description: "Remove all 'keywords' from a `Project`.\n"
      operationId: "deleteProjectKeywords"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/keys/{keyword}:
    post:
      tags:
      - "Project"
      description: "Set keyword of a `Project`.\n"
      operationId: "setProjectKeyword"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "The `keyword`"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      description: "Add to keyword of a `Project`.\n"
      operationId: "addProjectKeyword"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "The keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      description: "Remove a 'keyword' from a `Project`.\n"
      operationId: "deleteProjectKeyword"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "keyword"
        in: "path"
        description: "The keyword"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/name/{project_name}:
    post:
      tags:
      - "Project"
      description: "Add project_name to a `Project`.\n"
      operationId: "addProjectName"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "project_name"
        in: "path"
        description: "The project_name"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      description: "Modify project_name of a `Project`.\n"
      operationId: "modifyProjectName"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "project_name"
        in: "path"
        description: "The project_name"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/posts:
    post:
      tags:
      - "Project"
      - "Post"
      description: "Set posts of a `Project`.\n"
      operationId: "setAllProjectPosts"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "posts"
        in: "formData"
        description: "The `ids` of the posts"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "Post"
      description: "Add to posts of a `Project`.\n"
      operationId: "addProjectPosts"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "reviews"
        in: "formData"
        description: "The `ids` of the posts"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "Post"
      description: "Remove all 'posts' from a `Project`.\n"
      operationId: "deleteProjectPosts"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/posts/{post_id}:
    put:
      tags:
      - "Project"
      - "Post"
      description: "Add `Post`to a `Project`.\n"
      operationId: "addProjectPost"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "post_id"
        in: "path"
        description: "The `id` of the post"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "Post"
      description: "Remove a 'post' from a `Project`.\n"
      operationId: "deleteProjectPost"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "post_id"
        in: "path"
        description: "The `ids` of the post"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/private:
    put:
      tags:
      - "Project"
      description: "Set is_private from a  `Project`.\n"
      operationId: "setIsProjectPrivate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "is_private"
        in: "formData"
        description: "is `Project`private?"
        required: true
        type: "boolean"
      responses:
        200:
          description: "The boolean"
          schema:
            type: "boolean"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/project_name:
    delete:
      tags:
      - "Project"
      description: "Delete project_name from a project\n"
      operationId: "deleteUserProjectName"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_name` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/reviews:
    post:
      tags:
      - "Project"
      - "Review"
      description: "Set reviews of a `Project`.\n"
      operationId: "setAllProjectReviews"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "reviews"
        in: "formData"
        description: "The `ids` of the reviews"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "Review"
      description: "Add to reviews of a `Project`.\n"
      operationId: "addProjectReviews"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "reviews"
        in: "formData"
        description: "The `ids` of the reviews"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "Review"
      description: "Remove all 'reviews' from a `Project`.\n"
      operationId: "deleteProjectReviews"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/reviews/{review_id}:
    put:
      tags:
      - "Project"
      - "Review"
      description: "Add `Review`to a `Project`.\n"
      operationId: "addProjectReview"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "review_id"
        in: "path"
        description: "The `id` of the review"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      - "Review"
      description: "Remove a 'review' from a `Project`.\n"
      operationId: "deleteProjectReview"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "review_id"
        in: "path"
        description: "The `ids` of the review"
        required: true
        type: "string"
      responses:
        200:
          description: "The `project_id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/uni:
    delete:
      tags:
      - "Project"
      - "University"
      description: "Delete all universities from a project\n"
      operationId: "deleteProjecUniversities"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/uni/{university_id}:
    post:
      tags:
      - "Project"
      - "University"
      description: "Set university_id to a `Project`.\n"
      operationId: "setProjectUniversity"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "university_id"
        in: "path"
        description: "The university_id"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      - "University"
      description: "Modify university_id of a `Project`.\n"
      operationId: "modifyProjectUniversity"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "university_id"
        in: "path"
        description: "The university_id"
        required: true
        type: "string"
      responses:
        200:
          description: "The id associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Project/{id}/urls:
    post:
      tags:
      - "Project"
      description: "Set urls of a `Project`.\n"
      operationId: "setAllProjectUrls"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "urls"
        in: "formData"
        description: "The `urls` of the project"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    put:
      tags:
      - "Project"
      description: "Add to urls of a `Project`.\n"
      operationId: "addProjectUrls"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      - name: "urls"
        in: "formData"
        description: "The `urls` of the `Project``"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
    delete:
      tags:
      - "Project"
      description: "Remove all 'urls' from a `Project`.\n"
      operationId: "deleteProjectUrls"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `id` of the `Project` to retrieve"
        required: true
        type: "string"
      responses:
        200:
          description: "The `id` associated with the `Project`"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Project"
  /Review/{id}:
    put:
      tags:
      - "Review"
      description: "Updates `Review` objects. **id** is required,\nall others optional.\n"
      operationId: "updateReviewById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "review_body"
        in: "formData"
        description: "body of `Review`"
        required: false
        type: "string"
      - name: "reviewer_id"
        in: "formData"
        description: "The `User`who wrote `Review`"
        required: false
        type: "string"
      - name: "rating"
        in: "formData"
        description: "Rating (1 <= rating <= 5)"
        required: false
        type: "number"
        format: "int32"
      responses:
        200:
          description: "A `Review` object"
          schema:
            $ref: "#/definitions/Review"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    delete:
      tags:
      - "Review"
      description: "Deletes `Review` objects by **id**.\n"
      operationId: "deleteReviewById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Review/{id}/body:
    post:
      tags:
      - "Review"
      description: "Set `Review` body.\n"
      operationId: "setReviewBodyById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` name"
        required: true
        type: "string"
      - name: "body"
        in: "formData"
        required: true
        type: "string"
      responses:
        200:
          description: "A `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    put:
      tags:
      - "Review"
      description: "Updates `Review` body.\n"
      operationId: "updateReviewBodyById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` name"
        required: true
        type: "string"
      - name: "body"
        in: "formData"
        required: true
        type: "string"
      responses:
        200:
          description: "A `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    delete:
      tags:
      - "Review"
      description: "Deletes `Review` body\n"
      operationId: "deleteReviewBodyById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` name"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Review/{id}/created: {}
  /Review/{id}/rating:
    delete:
      tags:
      - "Review"
      description: "Deletes `Review` rating\n"
      operationId: "deleteReviewRating"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Review/{id}/rating/{rating}:
    post:
      tags:
      - "Review"
      description: "Sets `Review` rating\n"
      operationId: "setReviewRating"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      - name: "rating"
        in: "path"
        description: "The `Review` rating"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    put:
      tags:
      - "Review"
      description: "Updates `Review` rating\n"
      operationId: "updateReviewRating"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      - name: "rating"
        in: "path"
        description: "The `Review` rating"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Review/{id}/reviewer:
    delete:
      tags:
      - "Review"
      - "User"
      description: "Deletes `Review` reviewer\n"
      operationId: "deleteReviewReviewer"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Review/{id}/reviewer/{user_id}:
    post:
      tags:
      - "Review"
      - "User"
      description: "Set `Review` reviewer.\n"
      operationId: "setReviewReviewerById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` name"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "A `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    put:
      tags:
      - "Review"
      - "User"
      description: "Updates `Review` reviewer.\n"
      operationId: "updateReviewReviewerById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` name"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "A `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    delete:
      tags:
      - "Review"
      - "User"
      description: "Deletes `Review` reviewer\n"
      operationId: "deleteReviewReviewerById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      - name: "user_id"
        in: "path"
        description: "The `Review` reviewer id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Review/{id}/updated: {}
  /Review/{id}/url:
    post:
      tags:
      - "Review"
      description: "Sets `Review` url\n"
      operationId: "setReviewUrl"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      - name: "url"
        in: "formData"
        description: "The `Review` url"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    put:
      tags:
      - "Review"
      description: "Updates `Review` url\n"
      operationId: "updateReviewUrl"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      - name: "url"
        in: "formData"
        description: "The `Review` url"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
    delete:
      tags:
      - "Review"
      description: "Deletes `Review` url\n"
      operationId: "deleteReviewUrl"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Review` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Review"
  /Skill:
    put:
      tags:
      - "Skill"
      description: "Creates `Skill` objects.\nRequired query param of **size** determines\n\
        max number of results per page, and **page** determines\nwhich page in the\
        \ pagination we are. Remaining params optional.\n"
      operationId: "createSkills"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "description"
        in: "formData"
        description: "description of `Skill`"
        required: false
        type: "string"
      responses:
        200:
          description: "A `Skill` object"
          schema:
            $ref: "#/definitions/Skill"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Skill"
  /Skill/{id}:
    put:
      tags:
      - "Skill"
      description: "Updates `Skill` objects. **id** is required,\nall others optional.\n"
      operationId: "updateSkillById"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Post` name"
        required: true
        type: "string"
      - name: "description"
        in: "formData"
        description: "description of `Skill`"
        required: false
        type: "string"
      responses:
        200:
          description: "A `Review` object"
          schema:
            $ref: "#/definitions/Skill"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Skill"
    delete:
      tags:
      - "Skill"
      description: "Deletes `Skill` objects by **id**.\n"
      operationId: "deleteSkillwById"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Skill` id"
        required: true
        type: "string"
      responses:
        200:
          description: "The `Review` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Skill"
  /Skill/{id}/created: {}
  /Skill/{id}/description:
    post:
      tags:
      - "Skill"
      description: "Set `Skill` body.\n"
      operationId: "setSkillDescriptionByIdForn"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Skill` name"
        required: true
        type: "string"
      - name: "description"
        in: "formData"
        description: "The `Skill` description"
        required: true
        type: "string"
      responses:
        200:
          description: "A `Skill` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Skill"
    put:
      tags:
      - "Skill"
      description: "Updates `Skill` description.\n"
      operationId: "updateSkillDescriptionByIdForm"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Skill` name"
        required: true
        type: "string"
      - name: "description"
        in: "formData"
        required: true
        type: "string"
      responses:
        200:
          description: "A `Skill` id"
          schema:
            type: "string"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "Skill"
    delete:
      tags:
      - "Skill"
      description: "Deletes `Skill` body\n"
      operationId: "deleteSkillDescriptionByIdForn"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The `Skill` name"
        required: true
        type: "string"
      responses:
[...]
