<div class="landing-top-bar">
	<img class="landing-top-icon" height="30px" width="30px" src="/branding/arm-ray-logo.png" alt="">
	<p style="color:#656d78;margin-top:5px;float:left;margin-bottom:16px;padding-left:7px;">ArmRay</p>
</div>
<div class="landing-jumbotron">
	<div style="width:550px;vertical-align:middle;" class="jumbotron-hero-text">
		<h1>Focus on your research, not team building</h1>
		<h4>ArmRay is a network that helps you build a team with the right mix of skills and values in days or weeks rather than months.
		</h4>
	</div>
	<div class="jumbo-form">
		<input type="text" placeholder="Pick a username" ng-model="usernameTop" required>
		<input type="email" placeholder="Enter an email" ng-model="emailTop" required>
		<input type="password" placeholder="Enter a password" ng-model="passwordTop" required>	
		<a on-click="submitForm(usernameTop,emailTop,passwordTop)" class="jumbo-form-btn">
			<button>Sign up for ArmRay</button>
		</a>
	</div>
</div>

<div class="landing-module">
	<div class="hero-text">
		<h1>Be Productive On Day One</h1>
	</div>
	<div class="hero-sub-text">
		<p>ArmRay gives you all you need to build successful teams right out of the box. Create a project and start adding collaborators.</p>
	</div>

</div>
<hr>
<div class="landing-module">
	<div class="aside-container">
		<div class="left-aside-text">
			<h2>Create a project in seconds</h2>
			<p>With the click of a button, you can have your project up and running. After you’ve filled in a few simple variables it’s time to build your team. </p>
		</div>	
		<div class="left-aside-img">
			<img src="http://placehold.it/468x266">
		</div>
	</div>
	<div class="aside-container">
	<div class="right-aside-img">
		<img src="http://placehold.it/468x266">
	</div>
	<div class="right-aside-text">
		<h2>Build your team in days, not months</h2>
		<p>ArmRay makes building a team simple. Search by a field of study, name, or any other criteria. Then add them to the project with the click of a button.  </p>
	</div>	
	</div>
	<div class="aside-container">
	<div class="left-aside-text">
		<h2>Take control of your team</h2>
		<p>Every project is private by default. This puts you in control of who does what on your team. You set the level of involvement for all of your collaborators. </p>
	</div>	
	<div class="left-aside-img">
		<img src="http://placehold.it/468x266">
	</div>
	</div>
</div>
<hr>
<div class="landing-module">
	<div class="hero-text">
		<h1>And We’re Just Getting Started</h1>
	</div>
	<div class="hero-sub-text">
		<p>ArmRay is just getting off the ground. We’ve got a lot more tricks up our sleeves. Sign up for early access so that we hear your voice during our development!</p>
	</div>	

</div>

<div class="landing-page-footer">
	<div class="landing-footer-form">
		<input type="text" placeholder="Pick a username" ng-model="usernameBottom" required>
		<input type="email" placeholder="Enter an email" ng-model="emailBottom" required>
		<input type="password" placeholder="Enter a password" ng-model="passwordBottom" required>
		<a on-click="submitForm(usernameBottom,emailBottom,passwordBottom)" class="jumbo-form-btn">
			<button>Sign up for ArmRay</button>
		</a>	
	</div>
</div>







