<nav>
	<div class="float-left">
		<a href=""><img class="nav-brand" src="/branding/page-1.png" alt=""></a>
	</div>
	

	<div class="float-left">
	<input class="navbar-search" placeholder="Search Grants, Papers & Users" type="text" >
	</div>


	<div class="navbar-right-icons">
	
	<a href=""><span class="plus-icon"></span></a>
	
	<a href=""><span class="bell-icon"></span></a>
	<a href=""><object style="border-radius:50%;" data="http://placehold.it/30x30" type="image/png">
	<img ng-src="avatar">	
	</object></a>
	
	<a href=""><span class="down-caret-icon"></span></a>
	
	</div>



</nav>